<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
        />
    <style>
      
      body{
        position:relative;
        margin: 0;
        padding-top:30px;
        padding-left:20px;
        height: 100vh;
      background-image: url('https://weshop-files.s3.eu-north-1.amazonaws.com/background_from_mailer.jpg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
      }
          h1{
             position:relative;
      color:#00cdc6;
      font-size:3rem;
      margin: 0;
      margin-bottom: 10px;
      z-index: 10;
          }
          p{
             position:relative;
            color:white;
            font-size:1.5rem;
            z-index: 10;
          }
          body::before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0.6;
          background-color: gray;}

          .logo{
            position:relative;
            width:200px;
            z-index: 10;
             display: flex;
          justify-content: center;
          align-items: center;
          max-width: 160px;
          user-select: none;
          cursor: pointer;
          color: #00cdc6;
          font-family: 'Oswald', sans-serif;;
          border: 2px solid #00cdc6;
          font-weight: bold;
          }
          a{
            text-decoration: none;
          }
          
.logo > span {
        font-size: 2.3rem;
        line-height: 40px;
        margin-bottom: 10px;
    }

      .container-logo{
        display: flex;
        align-items: center;
        gap:10px;
      } 
          
       
      `;
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
